@import './variables'; 

.btn-primary {
  background-color: #F8BD1C;
  border: none;
  width: 90%;
  text-align: center;
  color: white;
  padding: 16px 0;
  font-weight: bold;
  border-radius: 4px;
  position: fixed;
  top: 750px;
}

.btn-secondary {
  text-decoration: none;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  border: solid 1px $primary-color;
  width: 95%;
  text-align: center;
  color: black;
  // padding: 16px 0;
  margin-left: 10px;
  font-weight: bold;
}